{% raw %}{% extends "elephantblog/entry_archive.html" %}

{% load feincms_tags i18n navigation_tags %}

{% block title %}{{ entry.title }} | {{ block.super }}{% endblock %}

{% block object_list %}
  <h1 class="entry-title">{{ entry }}</h1>
  <p class="small byline"><small>
    {% for category in entry.categories.all %}
      <a href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %},{% else %} | {% endif %}
    {% endfor %}
    {% if entry.author.get_full_name %}
    <span class="author source-org vcard">
      {% trans 'by' %} <span class="fn">{{ entry.author.get_full_name }}</span> |
    </span>
    {% endif %}
    <time datetime="{{ entry.published_on|date:'c' }}" pubdate>{{ entry.published_on|date:"j. F Y" }}</time>
    <time class="updated" datetime="{{ entry.last_changed|date:'c' }}"></time>
  </small></p>
  <div class="entry-content">
    {% feincms_render_region entry "main" request %}
  </div>
{% endblock %}

{% block edit-tools %}{{ block.super }}
<a href="/admin/elephantblog/entry/{{ entry.id }}/" class="button tiny">
  Edit entry
</a>
{% endblock %}
{% endraw %}
