<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}" >
{% load compress i18n staticfiles %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {% block title %}
      {% if feincms_page %}{{ feincms_page.page_title }} | {% endif %}
      ${NICE_NAME}
    {% endblock %}
  </title>
  {% block css %}
    <link rel="stylesheet" href="{% static '${PROJECT_NAME}/build/app.css' %}">
  {% endblock %}

  <link rel="shortcut icon" href="{% static '${PROJECT_NAME}/images/feincms.png' %}">
  <script src="{% static '${PROJECT_NAME}/bower_components/modernizr/modernizr.js' %}"></script>
  <script>onReady = [];</script>

  <meta name="keywords" content="{{ feincms_page.meta_keywords|default:'' }}">
  <meta name="description" content="{{ feincms_page.meta_description|default:'' }}">
  <meta name="robots" content="noindex,follow,noodp">  {# TODO Remove "noindex" when going live! #}
  <meta property="og:title" content="{{ og_title|default:feincms_page.page_title }} - ${NICE_NAME}">
  <meta property="og:image" content="http://www.${DOMAIN}{{ og_image|default:'/static/${PROJECT_NAME}/images/NN4.png' }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:description" content="{{ og_description|default:feincms_page.meta_description|default:'' }}">
{#  TODO: activate either one of the following tags: #}
{#  <meta property="fb:admins" content="100001975335850">#}
{#  <meta property="fb:app_id" content="" />#}

  {% comment %}
  <link rel="alternate" type="application/rss+xml"
    title="RSS Feed" href="http://www.${DOMAIN}/feeds/news/">
  {% endcomment %}
  {% block extra-head %}{% endblock %}
</head>
<body>

<div class="wrapper">

  {% block header %}{% endblock header %}

  {% for message in messages %}
    <div data-alert class="alert-box {{ message.tags }}">
      {{ message|safe }}
      <a class="close" href="#">&times;</a>
    </div>
  {% endfor %}

  {% block content %}{% endblock content %}

  {% block footer %}{% endblock footer %}

  <div class="row copyright">
    <div class="large-12 columns">
      <p>
        &copy;2013 &ndash; {% now "Y" %} FEINHEIT GmbH. All rights reserved.
      </p>
    </div>
  </div>
</div><!-- row wrapper -->


{% compress js %}
  <script src="{% static '${PROJECT_NAME}/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static '${PROJECT_NAME}/bower_components/foundation/js/foundation/foundation.js' %}"></script>
  <script src="{% static '${PROJECT_NAME}/build/app.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block inline-js %}
  <script>
    for (var i=0, l=onReady.length; i<l; ++i) {
      onReady[i].call(null, $);
    }
  </script>
{% endblock %}

{% if request.user.is_staff %}
  <div class="edit-tools">
    {% block edit-tools %}
      <a href="/admin/" class="button tiny">Edit</a>
    {% endblock %}
  </div>
{% endif %}

</body>
</html>
