{% extends "site_base.html" %}
{% load compress i18n staticfiles %}
{% load feincms_tags feincms_page_tags mptt_tags navigation_tags %}


{% block meta %}

  <title>{% block title %}{{ feincms_page.page_title }}{% endblock %}</title>

  <meta name="keywords" content="{{ feincms_page.meta_keywords|default:'' }}">
  <meta name="description" content="{{ feincms_page.meta_description|default:'' }}">
  <meta name="robots" content="noindex,follow,noodp">  {# TODO Remove "noindex" when going live! #}
  <meta property="og:title" content="{% firstof og_title feincms_page.page_title '' %} - ${NICE_NAME}">
  <meta property="og:image" content="http://www.${DOMAIN}{{ og_image|default:'/static/${PROJECT_NAME}/images/NN4.png' }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:description" content="{% firstof og_description feincms_page.meta_description '' %}">
{#  TODO: activate either one of the following tags: #}
{#  <meta property="fb:admins" content="100001975335850">#}
{#  <meta property="fb:app_id" content="" />#}

  {% comment %}
  <link rel="alternate" type="application/rss+xml"
    title="RSS Feed" href="http://www.${DOMAIN}/feeds/news/">
  {% endcomment %}
  {% block extra-head %}{% endblock %}

{% endblock meta %}


{% block body %}

<div class="wrapper">

  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse header">
        <div class="large-12 columns">
          <nav class="top-bar" data-topbar role="navigation" data-options="back_text:{% trans 'Back' %};">
            <ul class="title-area">
              <li class="name">
                <h1>  {# Remove the h1 if this is not the main title. #}
                  <a id="logo" href="/">${NICE_NAME}</a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon">
                <a href="#"><span>Menu<!-- nothing --></span></a>
              </li>
            </ul>

            <section class="top-bar-section">
              <ul class="left">
                {% feincms_nav feincms_page level=2 depth=2 group='default' as toplevel %}
                {% for page, children in toplevel|group_by_tree %}
                  {% page_is_active page as is_active %}
                  <li class="{% if is_active %}active{% endif %} {% if children %}has-dropdown{% endif %}">
                    <a href="{{ page.get_navigation_url }}">{{ page.title }}</a>
                    {% if children %}
                    <ul class="dropdown">
                      <li class="show-for-small">
                        {# The top-bar code does not allow navigating to top-level entries #}
                        <a href="{{ page.get_navigation_url }}">{{ page.title }}</a>
                      </li>
                      {% for child in children %}
                        {% page_is_active child as is_active %}
                        <li class="{% if is_active %}active{% endif %}">
                          <a href="{{ child.get_navigation_url }}">{{ child.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </section>
          </nav>
        </div>
      </div>
    </div>
  </div>

  {% for message in messages %}
    <div data-alert class="alert-box {{ message.tags }}">
      {{ message|safe }}
      <a class="close" href="#">&times;</a>
    </div>
  {% endfor %}

  {% block content %}

  <div class="row">
    <div class="large-12 columns">
      <h1>{{ feincms_page.content_title }}</h1>
      {% breadcrumbs feincms_page %}
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns">
      {% feincms_render_region feincms_page "main" request %}
    </div>
    <div class="large-3 columns">
      {% feincms_render_region feincms_page "sidebar" request %}
    </div>
  </div>

  {% endblock %}

  {% block footer %}{% endblock footer %}

  <div class="row copyright">
    <div class="large-12 columns">
      <p>
        &copy;2013 &ndash; {% now "Y" %} FEINHEIT GmbH. All rights reserved.
      </p>
    </div>
  </div>
</div><!-- row wrapper -->

{% endblock body %}

{% block extra-body %}

  {% compress js %}
  <script src="{% static '${PROJECT_NAME}/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static '${PROJECT_NAME}/bower_components/foundation/js/foundation/foundation.js' %}"></script>
  <script src="{% static '${PROJECT_NAME}/build/app.js' %}"></script>
  {% endcompress %}

  {% block inline-js %}
    <script>
      for (var i=0, l=onReady.length; i<l; ++i) {
        onReady[i].call(null, $);
      }
    </script>
  {% endblock inline-js %}

{% endblock extra-body %}

{% block edit-tools %}
  {% if feincms_page %}
    <a href="{% url 'admin:page_page_change' feincms_page.id %}" class="button tiny">Edit</a>
  {% endif %}
{% endblock %}
