/.env
*.pyc
*~
.*.sw*
.DS_Store
/data.db
/dump.rdb
/log
/media
/static
/tmp
/vendor
/venv
\#*#
stylesheets
node_modules
bower_components
{{ cookiecutter.project_name }}/static/{{ cookiecutter.project_name }}/build
