{% extends feincms_page.template.path|default:"base.html" %}

{% load feincms_tags feincms_thumbnail i18n modelview_list navigation_tags %}
{% load applicationcontent_tags elephantblog_tags mark_current %}

{% block content %}
<div class="row">
  <div class="large-12 column">
    {% block content_title %}
    <h1>News
      {% if year %}{% trans 'for' %} {{ year }}{% endif %}
      {% if month %}{% trans 'for' %} {{ month|date:"F Y" }}{% endif %}
      {% if day %}{% trans 'for' %} {{ day|date:"j. F Y" }}{% endif %}
      {% if category %}{% trans 'for' %} {{ category }}{% endif %}
    </h1>
    {% breadcrumbs feincms_page %}
    {% endblock %}
  </div>
</div>

<div class="row">
  <div class="large-9 column">
{% block object_list %}
{% for entry in object_list %}
  <article>
    <h2><a href="{{ entry.get_absolute_url }}">{{ entry }}</a></h2>
    <p><small>
      {% for category in entry.categories.all %}
          <a href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %},{% else %} | {% endif %}
      {% endfor %}
      {{ entry.published_on|date:"j. F Y" }}
    </small></p>
    {% if entry.first_image %}
      <a href="{{ entry.get_absolute_url }}" class="th">
        <img src="{{ entry.first_image.mediafile.file|cropscale:"750x300-50x20" }}" alt="">
      </a>
    {% endif %}
    {{ entry.first_richtext.render }}
    <br style="clear:left" />
    <hr />
  </article>
{% endfor %}
{% endblock %}

{% block pagination %}
{% pagination page_obj paginator "bottom" %}
{% endblock %}

  </div>
  <div class="large-3 column">
    {% elephantblog_categories as categories %}
    <h2>Kategorien</h2>
    <ul class="side-nav">
      {% mark_current request.path %}
      {% for category in categories %}
        <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
      {% endfor %}
      {% endmark_current %}
    </ul>

    {% elephantblog_archive_months as months %}
    <h2>Archiv</h2>
    <ul class="side-nav">
      {% mark_current request.path %}
      {% for month in months %}
      <li><a href="{% app_reverse 'elephantblog_entry_archive_month' 'elephantblog' year=month.year month=month|date:"m" %}">{{ month|date:"F Y" }}</a></li>
      {% endfor %}
      {% endmark_current %}
    </ul>
  </div>
</div>
{% endblock %}
