{% load feincms_thumbnail %}
<ul class="large-block-grid-2 small-block-grid-1">
  {% for page in page_list %}
    <li>
      <a href="{{ page.get_navigation_url }}" class="box">
        <h2>{{ page }}</h2>
        {% if page.excerpt_image %}
          <div class="th">
            <img src="{{ page.excerpt_image.file|cropscale:"450x300" }}"
              alt="">
          </div>
        {% endif %}
        <p>{{ page.excerpt_text|linebreaksbr }}</p>
        <p class="text-right">mehr &raquo;</p>
      </a>
    </li>
  {% endfor %}
</ul>
